footer{
    padding: 20px;
}

.footer-container{   
    background-color: #302c2c;
}

.sns-icon-ui i, .tistory{
    margin: 20px;
    color: #fff;
}

.footer-white-text{
    margin: 30px;

    font-weight: bold;
    font-size: 18px;
    color: #fff;
}